#include "resource.h"

IDI_ICON1 ICON "icon.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New", ID_FILE_NEW
        MENUITEM "&Open...", ID_FILE_OPEN
        MENUITEM "&Save", ID_FILE_SAVE
        MENUITEM "Save &As...", ID_FILE_SAVEAS
        MENUITEM "E&xit", ID_FILE_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo", ID_EDIT_UNDO
        MENUITEM "Cu&t", ID_EDIT_CUT
        MENUITEM "&Copy", ID_EDIT_COPY
        MENUITEM "&Paste", ID_EDIT_PASTE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_HELP_ABOUT
    END
END
